.lesson {
  background-color: lemonchiffon;
}

.title {
  color: darkblue;
  background-color: teal;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}
